.news {
    display: flex;
    flex-direction: row;
}

.news__text {
    font-size: 22px;
}

.news img{
    width: 240px;
    height: 300px;
}

.news h2 {
    color: #2500a9;
    text-decoration: underline;
    text-transform: uppercase;
}


@media (max-width: 992px) {
    .news {
        flex-direction: column;
    }
    .news__text {
        font-size: 17px;
    }

    .news h2 {
        color: #bd4402;
        text-decoration: none;
        text-transform: capitalize;
    }
}