* {
  box-sizing: border-box;
  margin: 0;

}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: Nunito;
  color: #5b5766;
  font-size: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Nunito;
  src: url("./fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}
