*{
    margin-left: 10px;
}

h2 {
    text-transform: uppercase;
    color: #134d60;
}
#heading {
    border-bottom: 1px solid #000;
}
div p {
    text-transform: capitalize;
    font-size: 22px;
}
.fontlist {
    list-style: none;
    list-style-image: url("./img/new_arrow.png");
}

@font-face {
    font-family: FontName;
    src: url("./fonts/Airstream.ttf");
    src: url("./fonts/Lobster_1.3.otf");
}

@font-face {
    font-family: FontName_1;
    src: url("./fonts/Arizonia-Regular.ttf");
}
.simple {
    font-size: 26px;
    font-family: FontName;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 2px;
}
.complex {
    font-family: FontName_1;
}

.product-item {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 25px 0;
    background-color: rgba(209,116,25,0.33);
}

.products-item__title {
    border: 1px solid #000000;
    padding: 10px ;
    margin: 10px auto;
    width: 30%;
}
.product-item__description {
    border: 1px solid #af1717;
}
.link {
    text-transform: none;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
.link:visited{
    color: #0223b2;
}
.link:active {
    color: #06721f;
}
.button {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid blueviolet;
    font-family: FontName;
}
.button:hover {
    background-color: white;
    color: blueviolet;
}
