*{
    margin-left: 10px;
}

h2 {
    text-transform: uppercase;
    color: #134d60;
}
#heading {
    border-bottom: 1px solid #000;
}
div p {
    text-transform: capitalize;
    font-size: 22px;
}
.fontlist {
    list-style: none;
    list-style-image: url("./img/new_arrow.png");
}

@font-face {
    font-family: FontName;
    src: url("./fonts/Airstream.ttf");
    src: url("./fonts/Lobster_1.3.otf");
}

@font-face {
    font-family: FontName_1;
    src: url("./fonts/Arizonia-Regular.ttf");
}
.simple {
    font-size: 26px;
    font-family: FontName;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 2px;
}
.complex {
    font-family: FontName_1;
}

.product-item {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 25px 0;
    background-color: rgba(209,116,25,0.33);
}

.products-item__title {
    border: 1px solid #000000;
    padding: 10px ;
    margin: 10px auto;
    width: 30%;
}
.product-item__description {
    border: 1px solid #af1717;
}
.link {
    text-transform: none;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
.link:visited{
    color: #0223b2;
}
.link:active {
    color: #06721f;
}
.button {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid blueviolet;
    font-family: FontName;
}
.button:hover {
    background-color: white;
    color: blueviolet;
}
.small-image {
    width: 150px;
}
/*nested*/
.small-image > img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

input {
    border: none;
    border-bottom: 3px solid blueviolet;
}
input:focus {
    border-bottom: 1px solid blue;
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.product__item {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    margin-top: 10px;
}
.product__item:first-child{
    background-color: black;
}
.product__item:last-child{
    background-color: #af1717;
}
/*nth-child (even)*/
.product__item:nth-child(-n+3) {
    background-color: aqua;
}

a::before {
    content: '@';
}
a::after {
    content: '';
}

a::selection {
    background-color: burlywood;
}
table{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    border: 1px solid #000000;
}
td {
    border: 1px solid #000000;
}
caption {
    font-size: 20px;
    text-transform: uppercase;
    font-family: FontName;
}
#parent {
    width: 300px;
    height: 400px;
    background-color: #06721f;
    position: relative;
    top: 20px
}

#parent:after {
    content: '';
    position: absolute;
    top: 0;
    right: -40px;
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: transparent transparent transparent black;
}

#child {
    width: 200px;
    height: 100px;
    background-color: #af1717;
    position: absolute;
    left: 150px;
}
.black {
    color: white;
    background-color: black;
}
.fixed {
    position: fixed;
    top: 150px;
    right: 200px;
    background-color: blueviolet;
    height: 150px;
    width: 150px;
}
.sticky {
    position: sticky;
    background-color: cornflowerblue;
    width: 220px;
    height: 200px;
    top: 20px;
    right: 450px;
}
.dropdown {
    display: none;
    position: absolute;
    background: blueviolet;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    top:37px;
    left:-10px;
}
.roots {
    list-style-type: none;
    display: inline-block;
    position: relative;
    background: #ccc;
    padding: 10px 15px;
}
.roots:hover .dropdown {
    display: block;
}
.dropdown > li {
    cursor: pointer;
    list-style: none;
}
.dropdown > li:hover {
    color: #fff;
}
.flexbox {
    display: flex;
    flex-direction: column-reverse;
    background-color: darkslategray;
}
.flexbox > div {
    border: 1px solid black;
    padding: 10px;
    background-color: deeppink;
}
.flexbox_1 {
    display: flex;
    flex-direction: row;
    background-color: darkslategray;
    justify-content: space-evenly;
}
.flexbox_1 > div {
    border: 1px solid black;
    padding: 10px;
    background-color: deeppink;
}
.flexwrap {
    display: flex;
    flex-wrap:  wrap;
    background-color: gray;
    height: 500px;
    align-content: flex-start;

}
.flex-inner {
    flex-basis: 400px;
    background-color: burlywood;
    border: 1px solid black;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    flex-grow: 1;
}
.cards {
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
    margin-top: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    box-shadow: 0 0 10px 0 black;
    flex-basis: 250px;
}

.card__text {
    margin-bottom: 20px;
    flex-grow: 1;
}

.card__link {
    text-decoration: none;
}